/* Definicions de classes utils genèriques */
.desktop { display: flex !important;}
.mobile  { display: flex !important;}
@media only screen and (max-device-width: 599px) { .desktop { display: none !important; } }
@media only screen and (min-device-width: 600px) { .mobile  { display: none !important; } }
.flex       { display: flex; }
.flexRow    { flex-direction: row; }
.flexColumn { flex-direction: column; }
.none       { display: none; }
.halfWidth  { max-width: 50%; }
.botoIcona  { cursor: pointer; }

/* Definicions específiques */
table {
    border-collapse: collapse;
    border: 1px solid black;
}
th {
    background-color: blue;
    color: white;
}
td {
    border-collapse: collapse;
    border: 2px black;
}
thead{
    border-collapse: collapse;
    border: 1px solid black;
    background-color: blue;
    color: white;
}
body {
    font-family: "Open Sans";
}
body > div {
    display: none;
}
a {
    color: white;
}
a:visited{
    color: white;
}

#frontendHome {
    display: flex;
    min-height: 100%;
    flex-direction: column;
}
#frontendMenuWeb{
    background-color: #00C4FF;
    height: 50px;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    justify-content: center;
    -webkit-box-shadow: 3px 6px 16px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 6px 16px 5px rgba(0,0,0,0.75);
    box-shadow: 3px 6px 16px 5px rgba(0,0,0,0.75);        
}
#frontendMenuMobil{
    background-color: #00C4FF; 
    height: 110px;
    position: sticky;
    font-family: 'Courier New', Courier, monospace;
    justify-content: right;
    border: 2px solid white;
    overflow: hidden;
    height: 25px;
}
#frontendPresentacio{
    background: #D8D8D8;
    height: 100%;
}
.letrapresentacion{
    color: black;
    text-align: center;
    width: 100%;
    height: 60px;
    margin-top: 10px;
    margin-bottom: 0px;
    position: relative;
    margin-left: auto;
}
.letrapresentacion2{
    width: 100%;
    margin-top: 60px;
    position: absolute;
    text-align: center;
}
.divtabla{
    margin-left: 10px;

}
.tablapresentacion{
    margin-top: 120px;
}
#frontendContacte{
    background-color:#00C4FF;
    height: 100%;
}

.mapa{
    margin-top: 20px;
    margin-right: 200px;
    margin-left: 70px;
}
.contacte{
    margin-top: 10px;
    margin-left: 10px;
    color: white;
    font-size: large;
}
#frontendProductes{
    
}
#productesLoading{
    width: 100%;
    height: 100%;
    text-align: center;
}
#producteLoading{
    width: 100%;
    height: 100%;
    text-align: center;
}
.seccion1{
    background: url("/web/imatges/hotel2.png") center / cover;
    display: flex;
    flex-direction: row;
    margin: 5px;
}
.seccion2{
    margin: 8px;
    margin: 0px;
    height: 413px;
    background: url("/web/imatges/hotel1.png") center / cover;
}
.letraseccion2{
    color: white;
    font-size: x-large;
    text-align: center;
}

.botoMenu {
    color: white;
    cursor: pointer;
    margin: 0 16px;
    min-width: 160px;
}
.botoMenu:hover {
    font-size: large;
    color: blue;
}
.nomempresa{
    color: white;
    font-family: Anton;
}

#productesContinguts {
    width: 100%;
}
#popups {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
#popups > div {
    border: solid 1px black;
    background-color: lightcyan;
    display: none;
}
.demo-card-wide.mdl-card {
    width: 512px;
    margin: 40px;
    -webkit-box-shadow: 3px 6px 16px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 6px 16px 5px rgba(0,0,0,0.75);
    box-shadow: 3px 6px 16px 5px rgba(0,0,0,0.75);
}
.demo-card-wide > .mdl-card__title {
    color: white;
    height: 176px;
    background: url("/web/imatges/vuelos.png") center / cover;
}
.demo-card-wide > .mdl-card__menu {
    color: white;
}

.demo-card-wide1.mdl-card {
    width: 512px;
    margin: 40px;
    -webkit-box-shadow: 3px 6px 16px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 6px 16px 5px rgba(0,0,0,0.75);
    box-shadow: 3px 6px 16px 5px rgba(0,0,0,0.75);
}
.demo-card-wide1 > .mdl-card__title {
    color: white;
    height: 176px;
    background: url("/web/imatges/playaatardecer.png") center / cover;
}
.demo-card-wide1 > .mdl-card__menu {
    color: white;
}
.letraproductos{
    color: black;
    text-align: center;
}
.imagenproducto{
    display: block;
    margin: auto;
}
.loginusuaris{
    display: flex;
    flex-direction: column;
    background-color: #00C4FF;
    align-items: center;
    color: white;
    font-weight: bold;
}
.nuevousuario{
    display: flex;
    flex-direction: column;
    background-color: #00C4FF;
    align-items: center;
    color: white;
    font-weight: bold;
}
.imgdetall{
    display: block;
    margin: auto;
}
.letradetall{
    color: black;
    text-align: center;
}